:root {
  --gray-900: #F9F9F3;
  --gray-800: #FB277F;
  --gray-700: #575A5B;
  --gray-600: #72DDF3;
  --gray-500: #ABE700;
  --gray-400: #E9E076;
  --gray-300: #D2D5D5;
  --gray-200: #B889FF;
  --gray-100: #3F3F3B;
  --white: #2B2C26;
  --node-icon-color: #878783;
  --node-icon-accent-color: #72DDF3;
}

body, textarea, input {
  font-family: ui-monospace;
}

.topbar-item svg, .search svg {
  color: #FDA100;
}

div[data-menu="settings"] {
  color: #FB277F;
}
